li{
  list-style: none;
}


.App {
  text-align: center;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;

}
.container > li{
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:1rem;
    padding:1rem;
}

.skills{
  display: flex;

}
h5{
  color:green;
  align-items: left;
  padding:-1rem;
}
.skills>div>li{
  align-items: right;
  text-align: left;
  padding:0 5rem;
    
}
